{{#block "title"}}
<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
{{/block}}
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/tasks/new">Add a New Task</a></li>

    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Category Menu <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {{#if categories}}
                {{#each categories}}
                    <li><a href="/categories/{{id}}">{{name}}</a></li>
                {{/each}}
                <li><a href="/categories/new">Add a Category</a></li>

            {{else}}
                <li><a href="/categories/new">Add a Category</a></li>
            {{/if}}
        </ul>
    </li>
</ul>
<div class="container">
    <!--begin main template-->
    <div class="page-header">
        <img src="/images/rawpixel-com-296621.jpg" width="70%" alt="https://unsplash.com/search/task?photo=Lh_bn9SgRSY">
        <h1>Welcome to my To Do List. <small>Let's be organized, focused, and efficient.</small></h1>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    <footer class="footer">
        <div class="container">
            <hr>
            <p class="text-muted">
                <a href="/categories/delete">delete all categories & tasks</a><br>
                <a href="/tasks/delete">delete all tasks</a>
            </p>
        </div>
    </footer>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </html>
{{/block}}